.argo-item {
    position: relative;
}

.argo-item .argo-model-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    max-width: 50px;
}

#ar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}