* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sample-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.argo-item {
    width: 30%;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
}

.argo-item img {
    max-width: 100%;
    height: auto;
    transition: 4s all ease-in-out;
}

.argo-item img:hover {
    transition: 4s all;
    transform: scale(1.2);
}